# Exploring the data

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../Data/train.csv')

# View the first few rows of the data
df.head(-5)

,id,date,store_nbr,family,sales,onpromotion
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0
1,1,2013-01-01,1,BABY CARE,0.000,0
2,2,2013-01-01,1,BEAUTY,0.000,0
3,3,2013-01-01,1,BEVERAGES,0.000,0
4,4,2013-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...,...
3000878,3000878,2017-08-15,9,MAGAZINES,11.000,0
3000879,3000879,2017-08-15,9,MEATS,449.228,0
3000880,3000880,2017-08-15,9,PERSONAL CARE,522.000,11
3000881,3000881,2017-08-15,9,PET SUPPLIES,6.000,0
3000882,3000882,2017-08-15,9,PLAYERS AND ELECTRONICS,6.000,0

In [6]:
# Get summary statistics for the data
df.describe()

                 id     store_nbr         sales   onpromotion
count  3.000888e+06  3.000888e+06  3.000888e+06  3.000888e+06
mean   1.500444e+06  2.750000e+01  3.577757e+02  2.602770e+00
std    8.662819e+05  1.558579e+01  1.101998e+03  1.221888e+01
min    0.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    7.502218e+05  1.400000e+01  0.000000e+00  0.000000e+00
50%    1.500444e+06  2.750000e+01  1.100000e+01  0.000000e+00
75%    2.250665e+06  4.100000e+01  1.958473e+02  0.000000e+00
max    3.000887e+06  5.400000e+01  1.247170e+05  7.410000e+02

In [8]:
# Group the data by a specific column
grouped = df.groupby('family')
grouped.mean()

/var/folders/05/0y50yhdd2x3830pg3mcctvwm0000gn/T/ipykernel_8711/2810566549.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped.mean()

                                   id  store_nbr        sales  onpromotion
family
AUTOMOTIVE                  1500427.5       27.5     6.101236     0.052597
BABY CARE                   1500428.5       27.5     0.110528     0.000583
BEAUTY                      1500429.5       27.5     3.715723     0.148269
BEVERAGES                   1500430.5       27.5  2385.793151     9.973586
BOOKS                       1500431.5       27.5     0.070797     0.000000
BREAD/BAKERY                1500432.5       27.5   463.336254     3.643101
CELEBRATION                 1500433.5       27.5     8.370469     0.073931
CLEANING                    1500434.5       27.5  1072.416744     7.270575
DAIRY                       1500435.5       27.5   709.154889     8.013405
DELI                        1500436.5       27.5   265.135067     6.414577
EGGS                        1500437.5       27.5   171.420516     2.143508
FROZEN FOODS                1500438.5       27.5   154.766954     1.381565
GROCERY I                   1500439.5       27.5  3776.972100    21.056578
GROCERY II                  1500440.5       27.5    21.584048     0.080793
HARDWARE                    1500441.5       27.5     1.137833     0.001792
HOME AND KITCHEN I          1500442.5       27.5    20.470342     0.515978
HOME AND KITCHEN II         1500443.5       27.5    16.722420     0.360847
HOME APPLIANCES             1500444.5       27.5     0.457476     0.000638
HOME CARE                   1500445.5       27.5   176.198029     2.168888
LADIESWEAR                  1500446.5       27.5     7.160629     0.018475
LAWN AND GARDEN             1500447.5       27.5     6.035475     0.123252
LINGERIE                    1500448.5       27.5     7.182128     0.030956
LIQUOR,WINE,BEER            1500449.5       27.5    85.187824     0.513548
MAGAZINES                   1500450.5       27.5     2.929082     0.003266
MEATS                       1500451.5       27.5   341.849965     3.343318
PERSONAL CARE               1500452.5       27.5   270.432513     2.715404
PET SUPPLIES                1500453.5       27.5     3.921263     0.035739
PLAYERS AND ELECTRONICS     1500454.5       27.5     6.186857     0.020608
POULTRY                     1500455.5       27.5   350.532292     2.489894
PREPARED FOODS              1500456.5       27.5    96.770202     0.412642
PRODUCE                     1500457.5       27.5  1349.352123    12.293492
SCHOOL AND OFFICE SUPPLIES  1500458.5       27.5     2.961599     0.160168
SEAFOOD                     1500459.5       27.5    22.163190     0.429445

# We should now jsut try a random forest on this and do a first submission